.container {
  position: fixed;
  height: 100vh;
  width: 100%;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: flex-start;

}

.header {
  margin: 0 0 0 10vw;
}

.down {
  position: fixed;
  bottom: 2.5rem;
  width: 2.5rem;
  height: 2.5rem;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
}

.image {
  display: flex;
}

.background {
  z-index: -1;
  background-image: url("../public/images/landing-page.png");
  height: 100vh;
  width: 100vw;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: fixed;

}

.letter {
  display: inline-block;
  cursor: pointer;
}

.space {
  width: 1rem;
  display: inline-block;
}

#tsparticles {
  width: 100%;
  height: 90vh;
  position: fixed;
  margin: 0;
  padding: 0;
  top: 0;
  left: 0;
  z-index: -1;
}