.container {
  /* z-index: -101;
  background-attachment: scroll fixed;
  -webkit-box-pack: center;
  background-position: 0 0 0 0;
  display: flex;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  height: 100vh;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  justify-content: center;
  align-items: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  background-position: 0 0, 0 0;
  background-size: auto, cover;
  background-attachment: scroll, fixed; */
  height: fit-content;
  padding: 10rem 0 10rem 0;
  justify-content: center;
  width: 100%;
  align-items: center;
  display: flex;


}



.canvas {}

.styles {
  width: 100vw;
  height: 100vh;
}



.header {
  height: 100vh;
  padding: 0 0 0 0;
  margin: 2.5rem 0 5rem 5rem;
  width: fit-content;
  position: relative;
  z-index: 0;
}

.down {
  position: fixed;
  width: 2.5rem;
  height: 2.5rem;
  left: 50%;
  transform: translateX(-50%);
  margin: 10vw 0 0 0;
}

.image {
  display: flex;
}

.background {
  z-index: -1;
  background-image: url("../public/images/landing-page.png");
  height: 100vh;
  width: 100vw;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: fixed;

}

.letter {
  display: inline-block;
  cursor: pointer;
}

.space {
  width: 1rem;
  display: inline-block;
}

#tsparticles {
  width: 100%;
  height: 90vh;
  position: fixed;
  margin: 0;
  padding: 0;
  top: 0;
  left: 0;
  z-index: -1;
}

.works {
  width: 100%;
  height: 100vh;
  justify-content: center;
  z-index: 0;

}

.worksBox {
  display: flex;
  align-items: center;
  justify-content: center;
}

.containerBox {
  display: flex;
  height: 100%;
  width: 100%;
  align-items: center;

}

.divider {
  font-size: 16px;
  width: 100%;
  display: flex;

}

.dragContainer {
  width: 5rem;
  height: 5rem;

}