.box {
    width: 100vw;
    height: 100vh;
    position: fixed;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    z-index: 1;
}

.container {
    width: 150px;
    height: 150px;
    display: flex;
    place-content: center;
    overflow: hidden;
    border-radius: 30px;
}

.item {
    width: 56%;
    overflow: visible;
    stroke: #fff;
    stroke-width: 2;
    stroke-linejoin: round;
    stroke-linecap: round;
}