.container {
    width: 200px;
    height: 200px;
    display: flex;
    place-content: center;
    overflow: hidden;
    border-radius: 30px;
}

.item {
    width: 50%;
    overflow: visible;
    stroke: #fff;
    stroke-width: 2;
    stroke-linejoin: round;
    stroke-linecap: round;
}