.container {
    display: flex;
}

.drawer {
    flex-shrink: 0;
}

.toolbar {
    padding: 0;
    width: 100%;
}

.imageContainer {
    margin: 2.5rem 0 10rem 0;
}

.btn {
    text-align: left;

    display: flex;
    width: 100%;
    text-decoration: none;
    /* justify-content: center; */
    padding: 1rem 0 1rem 2.5rem;
}

.text {

    display: flex;

}

.hamburger {
    position: fixed;
    top: 1.5rem;
    right: 1.5rem;
}

.iconBtn {
    width: 32px;
    height: 32px;
    margin: 0.5rem
}

.list {
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    border-top: 0.1px solid;
    padding: 0
}

.logo {
    border-radius: 50%;
    padding: 2rem;
    /* border: 5px solid; */
    position: absolute;
    height: fit-content;
    left: 50%;
    transform: translateX(-50%);
    flex-direction: column;
}